/**
 * The following styles get applied both on the front and in the editor.
 */

.wp-block-fiigbl-fii-also-read {
	font-size: 16px;
	line-height: 26px;
	color: #808080;
}

.wp-block-fiigbl-fii-also-read > .title {
	color: #cf2e2e;
	font-weight: 700;
}
